/sitat-core-engine/.settings
/sitat-core-engine/target
/sitat-core-engine/.classpath
/sitat-core-engine/.project
/sitat-core-webapp/.settings
/sitat-core-webapp/target
/sitat-core-webapp/.classpath
/sitat-core-webapp/.project
/sitat-webapp/.settings
/sitat-webapp/.project
/sitat-webapp/vigilanza-webapp/.settings
/sitat-webapp/vigilanza-webapp/target
/sitat-webapp/vigilanza-webapp/.classpath
/sitat-webapp/vigilanza-webapp/.project
