/* ********************** FORMATTAZIONI GENERALI  ********************** */
 TABLE.griglia {
                 margin: 0;
                 margin-top: 5;
                 margin-bottom: 5;
                 PADDING: 0px;
                 width: 100%;
                 FONT-SIZE: 11px;
                 border-collapse: collapse;
                 border-left: 1px solid #A0AABA;
                 border-top: 1px solid #A0AABA;
                 border-right: 1px solid #A0AABA;
            }
        
            TABLE.griglia TD {
                 PADDING: 2px 0px 2px;
                 BORDER-BOTTOM: #A0AABA 1px solid;
            }

            TABLE.griglia TD.no-border {
                 PADDING: 2px 0px 2px;
                 BORDER-BOTTOM: 0px;
            }
          
            TABLE.griglia TD.etichetta-dato {
                 width: 150px;
                 HEIGHT: 22px;
                 PADDING-RIGHT: 10px;
                 BORDER-TOP: #A0AABA 1px solid;
                 BACKGROUND-COLOR: #eaf1e9;
                 color: #303030;
                 TEXT-ALIGN: right;
            }
           
            TABLE.griglia TD.etichetta-dato-archivio {
                 width: 200px;
                 HEIGHT: 22px;
                 PADDING-RIGHT: 10px;
                 BORDER-TOP: #FFFFFF 1px solid;
                 BACKGROUND-COLOR: #eaf1e9;
                 color: #303030;
                 TEXT-ALIGN: right;
            }

            TABLE.griglia TD.valore-dato {
                 width: 190px;
                 PADDING-LEFT: 10px;
                 TEXT-ALIGN: left;
                 BORDER-LEFT: #A0AABA 1px solid;
            }
 
             TABLE.griglia TD.valore-dato-numerico {
                 width: 190px;
                 PADDING-LEFT: 10px;
                 TEXT-ALIGN: right;
                 BORDER-LEFT: #A0AABA 1px solid;
            }
            
            TABLE.griglia TD.titolo-valore-dato {
                 width: 200px;
                 PADDING-LEFT: 10px;
                 TEXT-ALIGN: left;
                 BORDER-LEFT: #A0AABA 1px solid;
            }

            TABLE.griglia TD.valore-dato A {
                 text-decoration: underline;
                 color: #303030;
            }
           
            TABLE.griglia TD.valore-dato A:hover {
                 text-decoration: none;
            }
           
            span.importo {
                 width: 190px;
                 display:block;
            }
           
            span.importoNegativo {
                 width: 190px;
                 display:block;
            }
